{% if user.is_authenticated %}
<h4>welcome {{user.username}}!</h4>
<h2>ApI LISTS</h2>

<h4><li><a href="{%url "registeruser"%}" style="text-decoration: none;color: blue;"> User Registration API</a></li></h4>

<h4><li><a href="{%url "posts-api"%}" style="text-decoration: none;color: blue;"> Blog posts List API</a></li></h4>
<h4><li><a href="{%url "apiblogpost"%}" style="text-decoration: none;color: blue;"> Create Blog posts API</a></li></h4>
{% else %}

<h4>To view our API You need to be logged in first <a href="{%url "signin"%}" style="text-decoration: none;color: blue;"> Sign In</a></h4>

{%endif%}