{% extends "base.html"%}



{% block header%}
<link rel="stylesheet" href="static/css/style.css">
{% endblock header%}

<div class="container">
{%block content%}
{%if user.is_authenticated%}
<form action=""method="post">
    {%csrf_token%}
   Select Category: <p>{{form.category}}</p>
  Post Title: <p>{{form.title}}</p>
    Post contents:<p>{{form.content}}</p>
    <br/>
   slug(For Urls):<p>{{form.slug}}</p>
    <button type="submit"  class="post-btn"> POST</button>
{%else%}
<h4>You are not Logged in to create Posts please do that<a href="{%url "signin"%}" style="text-decoration: none;"> Sign In</a></h4>
</form>
{%endif%}

{%endblock content%}
</div>